html, body {
    background-color: rgb(229, 229, 229);
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
html:has(.no-relative), body:has(.no-relative) {
    margin: 8px;
    padding: 8px;
    position: static;
}
html:has(.no-relative) {
    position: relative;
}
.margin .root {
    position: static;
}
.root {
    position: relative;
}
.container {
    position: relative;
    margin-top: 50px;
}
.target {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25px;
    left: 0px;
    line-height:200px;
    text-align: center;
    background: rgb(198, 198, 198);
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
    box-sizing: border-box;
}